@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

</div>
<p>
    Across New Zealand our highly experienced and qualified hair stylists, are ready to maintain your favourite look or to ... Pop in to any of our salons nationwide.
</p>

<p>
    A top rated and award winning hair salon located in Chancery in Auckland's CBD. Toni & Guy are qualified hairdressers, passionately dedicated to providing

</p>

<p>
    102 Chancery Square, Auckland CBD Phone: (09) 300 6016. Email: admin@toniandguy.co.nz. SALON HOURS Monday // Closed Tuesday // 9am - 6.15pm
    If there's one thing that stays consistent in our journey, it's the idea of creating the sensational. Whether it's the way you look or the way you feel, we've been crafting both for over 30 years.

    Buoy Salon & Spa continues to sit at the leading edge of style, made evident by the multiple accolades, awards and praise we've enjoyed.

    We are Wellington's leading salon and spa and our team is full with exceptional artists and beauty experts. Our Menu's offer services in hair, beauty, appearance medicine, Laser, IPL. Everything you need to feel and look your best everyday.
</p>
<p>

    Welcome to Shear Havoc, a dedicated children’s hair salon. The salon is Christchurch's first to be entirely designed to cater for children of all ages and also their parents. There are a couple of fun, cool styling chairs for the little people as well as a designated play area while you wait. Adults can relax on a comfy sofa with a coffee and a magazine while we take care of your small persons hair!



    Owner and hairdresser, Wendy, has over 30 years experience in the hairdressing industry both here and in the UK. She has a wealth of hairdressing knowledge and patience with dealing with kids who are not keen on getting their haircut for a variety of reasons and genuinely enjoys little people’s company!



    Here at Shear Havoc we understand that one size does not fit all and take a very individual approach to each client. The salon’s decor is fun but muted to appeal to even the most sensitive souls and both the lights and music can be dimmed if sensory issues are a problem. Please do let us know if your child has individual requirements and we will do our best to accommodate them.



    We also offer a ‘test drive’ appointment which is free of charge, where kids can come into the salon for 10-15 minutes, experience the space and have a play, meet our stylists but not have a haircut. The idea of this is to put your child at ease and can be booked as many times as needed before a single strand of hair is cut!



    We understand that sometimes taking the kids for a haircut can be a bit of a chore but at Shear Havoc we hope we can cancel out the whinging and whining with the offer of fun and laughter and a place where kids can be kids!

</p>
